<%# <h1>Sign up</h1>
<form action="/users" method="POST">
  <label for="">First Name: </label>
  <input type="text" name="first_name">
  <br>

  <label for="">Last Name: </label>
  <input type="text" name="last_name">
  <br>

  <label for="">Email: </label>
  <input type="text" name="email">
  <br>

  <label for="">Password: </label>
  <input type="password" name="password">
  <br>

  <button>Sign up</button>
</form> %>
<div class="sign-up-form">
<%# <h1>Sign up Now</h1> %>
<form action="/users" method="POST">
<h1>Sign up Now</h1>

  <%# <label for="">First Name: </label> %>
  <input type="text" class="input-box" placeholder="First Name" name="first_name">
  

  <%# <label for="">Last Name: </label> %>
  <input type="text" class="input-box" placeholder="Last Name" name="last_name">
  

  <%# <label for="">Email: </label> %>
  <input type="text" class="input-box" placeholder="Email" name="email">
  

  <%# <label for="">Password: </label> %>
  <input type="password" class="input-box" placeholder="Password" name="password">
  

  <button class="signup-btn">Sign up</button>
</form>
</div>